.header {
  background: #240053;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100vh;
  overflow: hidden;
}

.hero {
  background: url('../../images/globe.svg');
  position: relative;
}

.background-image {
  position: absolute;
}

.hero-text {
  font-weight: 900;
  text-align: center;
  background: -webkit-linear-gradient(#FFEB35, #19FD82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  max-width: 712px;
  height: 64px;
  margin-left: 10px;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  /* or 213% */

  text-align: center;

  /* White */

  color: #FFFFFF;
}

.banner-image {
  width: 100%;
  height: auto;
  // object-fit: fit;
}

.banner-image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}